html{
    font-size: 62.5%;
    background-color: #2F3F56;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

section{
    border-radius: 1rem;
}

.content{
    display: grid;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    grid-template-rows: 31vh 31vh 31vh;
    grid-template-areas: 
    "one two three four five"
    "six seven eight eight eight"
    "nine nine nine nine nine";
    place-content: center;
    margin-top: 2%;
    gap: 1rem;

}


.one{
    background-color: #FDA061;
    border: 1px solid red;
    grid-area: one;
}

.two{
    background-color: #34DABA;
    border: 1px solid red;
    grid-area: two;

}

.three{
    background-color: #FC6057;
    border: 1px solid red;
    grid-area: three;
}

.four{
    background-color: #00A686;
    border: 1px solid red;
    grid-area: four;
    gap: 1rem;
}

.five{
    background-color: #FC6057;
    border: 1px solid red;
    grid-area: five;
}

.six{
    background-color: #FC6057;
    border: 1px solid red;
    grid-area: six;
}

.seven{
    background-color: #FC6057;
    border: 1px solid red;
    grid-area: seven; 
}

.eight{
    background-color: #FC6057;
    border: 1px solid red;
    grid-area: eight;
}

.nine{
    background-color: #FC6057;
    border: 1px solid red;
    grid-area: nine;
}