html{
    font-size: 62.5%;
    background-color: #2F3F56;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.content{
    display: grid;
    grid-template-columns: 22.5vw 22.5vw 22.5vw 22.5vw;
    grid-template-rows: 22.5vh 22.5vh 22.5vh 22.5vh;
    grid-template-areas: 
    "nav nav nav nav"
    "asite main main main"
    "asite main main main"
    "footer footer footer footer";
    place-content: center;
    margin-top: 2.5vh;
    gap: 1rem;

}

.one{
    background-color: #16686B;
    border: 1px solid red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-area: asite;
}

.two{
    background-color: #AEC9C3;
    border: 1px solid red;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1/4;
    grid-area: footer;

}

.three{
    background-color: #E6AA52;
    border: 1px solid red;
    grid-row: 2/4;
    grid-area: nav;
}

.four{
    background-color: #EE5D5A;
    border: 1px solid red;
    grid-row: 2/4;
    grid-area: main;
    
}
